html, body{
    margin: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: rgb(148, 170, 197);
    /* font-size: 12pt; */
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}
body{
    /* border: 10px solid black; */
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}

hr{
    border: 0;
    background-color: black;
    height: 1px;
}

#page-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;

}
header{
    background-color: rgb(148, 170, 197);
    padding-top: 40px;
    padding-bottom: 50px;
    /* height: 100px; */

}

#name{
    text-align: center;
    font-size: 35pt;
    /* animation-name: site-load; */
    animation-duration: 0.8s;
}
#occupation{
    text-align: center;
    font-size: 25pt;

    visibility: visible;
    /* animation-name: site-load; */
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}
#main-content{
    background-color: white;
    flex: 1;
}
#about-me-container{
    margin: 0 10px;
    margin-bottom: 10px;
}
#about-me-text{
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 14pt;
}
.projects-heading{
    margin: 30px 0;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
}

#projects-container{
    /* margin-top: 0px; */
    /* background-color: blue; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* width: 100%; */
}
.project-container:first-child{
    margin-top: -20px;
}
.project-container{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    /* border-bottom: 1px solid black;
    border-top: 1px solid black; */
    padding: 20px;
    max-width: 700px;
    margin: 50px auto;
}
.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* text-align: right; */
}
.project-details-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    /* justify-content: center; */
}
.image{
    width: 90%;
    /* height: 67.5%; 3X4 aspect ratio */
    /* height: 90%; */
    background-color:darkcyan;
    max-width: 400px;
    border-radius: 10px;
    border: 10px solid black;
}
.project-title{
    font-size: 16pt;
    font-weight: bold;
}
.project-description{
    max-width: 400px;
    opacity: 0.7;
    margin: 20px 0;
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(148, 170, 197);
    /* margin: 0 5px; */
    /* background-color: lightskyblue; */
    
}
.btn:hover{
    background-color: rgb(128, 150, 177);
    cursor: pointer;
    text-decoration: none;
}
#preview-site-btn{
    /* visibility: hidden; */
    display: none;
}

footer{
    background-color: rgb(148, 170, 197);
    line-height: 2;
    text-align: center;
}

#close-icon{
    position: fixed;
    right: 30px;
    top: 30px;


    width: 25px;
}
#close-icon:hover{
    cursor: pointer;
}
#iframe-wrapper{
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

#iframe{
    position: fixed;
    height: 85%;
    width: 90%;
    top: 7%;
    left: 5%;
    background-color: white;
    border: black 1px solid;
    max-width: 1100px;
    /* margin: 0 auto; */
    /* visibility: hidden; */
}


@keyframes site-load{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        visibility: visible;
    }
}
/* Preview buttons will only appear when this width is reached */
/* temporary 900px instead of 961px */
@media only screen and (min-width: 900px){
    .project-container:first-child{
        margin-top: -100px;
    }
    .project-container{
        max-width: 1100px;
        margin: 0 auto;
    }
    .img-container{
        width: 50%;
    }
    .project-details-container{
        width: 50%;
        text-align: left;
    }
    .project-description{
        width: 400px;
    }

    .img-container{
        height: 500px;
    }
    .project-details-container{
        height: 500px;
    }
    .image{
        max-width: 100%;
    }
    .options{
        justify-content: space-between;
    }
    #preview-site-btn{
        display: block;
    }
}

@media only screen and (min-width: 1100px){
    #iframe{
        left: calc((100% - 1100px)/2);
    }
}